.weather-state{
  width:150px;
  height: 150px;
  background-image : url("../img/icons.png");
  background-size: 840px 1200px;
  background-repeat: no-repeat;
  margin: 20px auto;
}

.weather-state.-Rain{
  background-position: -700px -300px;
}

.weather-state.-Mist{
  background-position: -700px -170px;
}

.weather-state.-Clouds{
  background-position: -120px -300px;
}

.weather-state.-Snow{

}
.weather-state.-Extreme{

}
.weather-state.-Clear{
    background-position: -135px 0px;
}
.weather-box{
  cursor: pointer;
}
.weather-box.-active{
  background: rgba(102, 201, 201, 0.3);
}
.weather-chart{
  width:1000px;
  margin:0 auto;
}
