<h1 class="page-header text-center">未來氣候分析</h1>
<div class="row placeholders" id="js-analysis-success" >
  <div class="panel panel-default">
    <div class="panel-body weather-chart" id="js-anay-temp"></div>
  </div>
  <div class="panel panel-default">
    <div class="panel-body weather-chart" id="js-anay-rain"></div>
  </div>
  <div class="panel panel-default">
    <div class="panel-body weather-chart" id="js-anay-cloud"></div>
  </div>

</div>
<div class="row placeholders text-center" id="js-analysis-fail" >
  <div class="alert alert-warning" role="alert">
    <h3><i class="fa fa-spinner fa-spin"></i> <b> Oops!</b>  目前連線異常,嘗試重整頁面</h3>
  </div>
</div>
