  <h1 class="page-header text-center">未來五天天氣預測</h1>
  <div class="row placeholders" id="js-data-success" style="display:none;">
    <div class="col-xs-6 col-sm-2 placeholder col-sm-offset-1 weather-box -active" id="js-forecast-day-1" >
      <div class="weather-state"></div>
      <h4 class="weather-date"></h4>
      <span class="text-muted weather-temp"></span>
    </div>
    <div class="col-xs-6 col-sm-2 placeholder weather-box" id="js-forecast-day-2" >
      <div class="weather-state"></div>
      <h4 class="weather-date"></h4>
      <span class="text-muted weather-temp "></span>
    </div>
    <div class="col-xs-6 col-sm-2 placeholder weather-box" id="js-forecast-day-3" >
      <div class="weather-state"></div>
      <h4 class="weather-date"></h4>
      <span class="text-muted weather-temp"></span>
    </div>
    <div class="col-xs-6 col-sm-2 placeholder weather-box" id="js-forecast-day-4" >
      <div class="weather-state"></div>
      <h4 class="weather-date"></h4>
      <span class="text-muted weather-temp"></span>
    </div>
    <div class="col-xs-6 col-sm-2 placeholder weather-box" id="js-forecast-day-5" >
      <div class="weather-state"></div>
      <h4 class="weather-date"></h4>
      <span class="text-muted weather-temp"></span>
    </div>
  </div>
  <div class="row placeholders text-center" id="js-data-fail" >
    <div class="alert alert-warning" role="alert">
      <h3><i class="fa fa-spinner fa-spin"></i> <b> Oops!</b>  目前連線異常,嘗試重整頁面</h3>
    </div>
  </div>
